<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--<div class="col-md-12">-->

<!--</div>-->
<!--&lt;!&ndash;    <ul>&ndash;&gt;-->

<!--&lt;!&ndash;        <li>Result</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>Upload Questions</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>Add User</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>View Result</li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li>Start Test</li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<div class="nav">
<div class="container">
    <div class="row">

        <div class="col-md-12">
<!--            <div class="col-md-3 col-sm-1">-->
<!--                <h4><a href="/Admin">DASHBOARD</a></h4>-->
<!--            </div>-->
            <div class="col-md-3 col-sm-1">
                <h4><a href="/result">VIEW RESULT</a></h4>
            </div>
            <div class="col-md-3 col-sm-1">
                <h4><a href="/select">UPLOAD QUESTIONS</a></h4>
            </div>
            <div class="col-md-3 col-sm-1">
                <h4><a href="/add_user">USER MANAGEMENT</a></h4>
            </div>
            <div class="col-md-3 col-sm-1">
                <h4><a href="/setup">SETUP TEST</a></h4>
            </div>
        </div>
    </div>
</div>
</div>
<!--<div class="toggle">-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--</div>-->
<!--<div class="sidebar">-->
<!--    <h3 style="text-align: center; margin-top: 20px;"> <span style="color:rgba(10,30,300,1);">Admin Section</span></h3>-->
<!--    <ul>-->
<!--        <li>DashBoard</li>-->
<!--        <li>View Result</li>-->
<!--        <li>Upload Questions</li>-->
<!--        <li>Setup Test</li>-->
<!--        <li>Add User</li>-->

<!--    </ul>-->
<!--</div>-->
<!--<div class="main">-->
<!--    <h3 style="text-align: center; margin-top: 20px;"> <span style="color:rgba(10,30,300,1);">Admin Section</span></h3>-->
<!--    <ul>-->
<!--        <li>DashBoard</li>-->
<!--        <li>View Result</li>-->
<!--        <li>Upload Questions</li>-->
<!--        <li>Setup Test</li>-->
<!--        <li>Add User</li>-->

<!--    </ul>-->
<!--</div>-->
<!--</body>-->


<style type="text/css">
  .nav  .sidebar h3 span{
        font-weight: normal;
        font-size: 90%;
        font-family: Verdana;
    }
    .sidebar{
        height: 100vh;
        width: 250px;
        background-color:#fefefe;
        border-radius: 5px;
        border-top: 6px solid royalblue;
        margin-top: 6px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px 0 rgb(200,200,200);
        position : fixed;
    }

    /*.main{*/
    /*    margin-left: 19%;*/
    /*    height: 100vh;*/
    /*    width: 72%;*/
    /*    background-color:#fefefe;*/
    /*    border-radius: 5px;*/
    /*    border-top: 6px solid royalblue;*/

    /*    box-sizing: border-box;*/
    /*    box-shadow: 0px 0px 10px 0 rgb(200,200,200);*/

    /*}*/
  .nav .sidebar li{
       padding-bottom: 3px ;

        list-style: none;
       font-weight: 400;
       font-size: 140%;
       color:rgba(0,0,0,0.7);
       font-family: "Lao UI";
       margin-top: 30px;

    }
    .container{

    }
    a{
          color: rgba(0,0,0,0.5);
        text-decoration:none;
    }
.nav  .container  .row{
    /*border-top: 3px solid royalblue;*/

    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0 rgb(200,200,200);
        background-color: #fefefe;
        padding: 90px 0 6px 0;
        border-bottom:3px solid royalblue ;
    border-radius: 2px;
    }
  .nav .container .col-md-3{

border: none;

    }
 .nav .container  .col-md-3 h4{
        font-size: 115%;

        color: rgba(0,0,0,0.5);
        font-family: Verdana;
        font-weight: bold;
    }
</style>
</body>
</html>