<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />


    <link rel='stylesheet' href='/stylesheets/sweetalert2.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>-->
</head>
<div id="loader">
{{{body}}}

<script type="text/javascript" src="/javascripts/sweetalert2.all.js"></script>

</body>
</html>
